<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<h1>Welcome to Trackhub Converter</h1>

<form action="/th-main" method="post">
    <label for="th_link">Please enter a trackhub URL: </label>
    <input id="th_link" type="text" name="th_link"
    value="{{ current_th_link }}">
    <input type="submit" value="OK">
</form>


</body>
</html>